{{ template "base" .}}
<div class="dashboard-container">
  <form class="admin-products" id="admin-products">
    <input type="hidden" name="product-id" />
    <div class="item dashboard-products-title">
      <div class="top">
        <h2 class="form-title">Productos</h2>
      </div>
    </div>
    <div class="item">
      <!--Name-->
      <div>
        <input
          name="product-name"
          type="text"
          class="input-field-dash"
          placeholder="Nombre"
          required
        />
      </div>
    </div>
    <div class="item">
      <!--Description-->
      <div>
        <textarea
          name="product-description"
          type="text"
          class="input-field-dash text-area"
          placeholder="Descripción"
          rows="6"
          required
        ></textarea>
      </div>
    </div>
    <div class="item">
      <!--Weight-->
      <div>
        <input
          name="product-weight"
          type="number"
          class="input-field-dash"
          placeholder="Peso (gramos)"
          required
        />
      </div>
    </div>
    <div class="item">
      <!--Size-->
      <div>
        <input
          name="product-size"
          type="number"
          class="input-field-dash"
          placeholder="Tamaño (cm3)"
          required
        />
      </div>
    </div>
    <div class="item">
      <!--Image-->
      <div>
        <input
          name="product-image"
          type="url"
          class="input-field-dash"
          placeholder="Url-imagen"
          required
        />
      </div>
    </div>
    <div class="item">
      <!--Price-->
      <div>
        <input
          name="product-price"
          type="number"
          class="input-field-dash"
          placeholder="Precio"
          required
        />
      </div>
    </div>
    <div class="item">
      <!--Quantity-->
      <div>
        <input
          name="product-quantity"
          type="number"
          class="input-field-dash"
          placeholder="Cantidad"
          required
        />
      </div>
    </div>
    <div class="item">
      <!--Buttton Add-->
      <div>
        <input
          id="add-button"
          type="submit"
          class="submit submit-dash"
          value="Añadir"
          required
          hx-post="/admin/products/add"
          hx-target="#flash"
          hx-swap="outerHTML"
        />
      </div>
    </div>
    <div class="item">
      <!--Buttton Update -->
      <div>
        <input
          type="submit"
          class="submit submit-dash"
          value="Actualizar"
          required
          hx-post="/admin/products/update"
          hx-target="#flash"
          hx-swap="outerHTML"
        />
      </div>
    </div>
    <div class="item">
      <!--Buttton Delete-->
      <div>
        <input
          type="submit"
          class="submit submit-dash"
          value="Eliminar"
          required
          hx-post="/admin/products/delete"
          hx-target="#flash"
          hx-swap="outerHTML"
        />
      </div>
    </div>
    <div class="item dashboard-products-finder">
      <select id="product-selector" onchange="fillProductForm(this)">
        <option value="">-- Selecciona un producto --</option>
        {{range .products}}
        <option
          value="{{.ID}}"
          data-name="{{.Name}}"
          data-description="{{.Description}}"
          data-weight="{{.Weight}}"
          data-size="{{.Size}}"
          data-price="{{.Price}}"
          data-quantity="{{.Quantity}}"
          data-image="{{.Image}}"
        >
          {{.Name}} | Peso: {{.Weight}} | Tamaño: {{.Size}} | ${{.Price}} |
          Stock: {{.Quantity}}
        </option>
        {{end}}
      </select>
    </div>
  </form>
  <div class="admin-orders">Hola</div>
</div>
{{ template "footer" .}}
