<!DOCTYPE html>
<html lang="es">
  <head>
    <link rel="stylesheet" href="/static/style.css" />
    <title>UkaUka fb</title>
    <meta name="robots" content="index" />
    <!--Responsive-->
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <!--50-160 letters-->
    <meta
      name="description"
      content="UkaUka fabrica de obstaculos para
    fingerboard"
    />
    <meta charset="utf-8" />
  </head>
  <body>
    <header>
      <img src="/static/images/LogInIcon.png" alt="logo" width="41px" />
      <h1>UkaUka<sub>fb</sub></h1>
      <nav class="header-nav">
        <img src="/static/images/LogInIcon.png" width="41px" />
        <img src="/static/images/LogInIcon.png" width="41px" />
        <img src="/static/images/LogInIcon.png" width="41px" />
      </nav>
    </header>
  </body>
  <footer></footer>
</html>
