{{ template "base" .}}
<div class="content">
  <div class="form-box">
    <!-- ===== Reset password form ===== -->
    <div class="reset-pass" id="reset-pass">
      <div class="top">
        <span>Cambia tu contraseña.</span>
        <h2 class="form-title">Recupera tu contraseña!</h2>
      </div>
      <form action="/auth/recover/reset" method="post">
        <input type="hidden" name="token" value="{{.token}}" />
        <!--Passwords-->
        <div class="input-box">
          <input
            name="recover-pass"
            type="password"
            class="input-field"
            placeholder="Contraseña (8 o más caracteres)"
            minlength="8"
            required
          />
          <i class="fa-solid fa-lock"></i>
        </div>
        <div class="input-box">
          <input
            type="submit"
            class="submit"
            placeholder="Cambiar contraseña"
            required
          />
        </div>
      </form>
      <div class="bottom">
        <span> Recuerda usar una contraseña segura! </span>
      </div>
    </div>
  </div>
</div>
{{ template "footer" .}}
